<li class="nav-item active">
    <a class="nav-link" href="" data-toggle="collapse" data-target="#collapsePagesHR" aria-expanded="false"
        aria-controls="collapsePages">
        <i class="fas fa-users"></i>
        <span>Human Resources</span></a>
    </a>
    <div id="collapsePagesHR" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
            <a class="collapse-item" href="">Nurse</a>
            <a class="collapse-item" href="">Pharmascist</a>
            <a class="collapse-item" href="">Laboratoriest</a>
            <a class="collapse-item" href="">Accountant</a>
            <a class="collapse-item" href="">Receptionist</a>
        </div>
    </div>
</li>