<li class="nav-item active">
    <a class="nav-link " href="" data-toggle="collapse" data-target="#collapsePagesInvoice" aria-expanded="false"
        aria-controls="collapsePages">
        <i class="fas fa-people-carry"></i>
        <span>Invoice</span>
    </a>
    <div id="collapsePagesInvoice" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
            <a class="collapse-item" href="">Add Invoice</a>
            <a class="collapse-item" href="">Invoice List</a>
        </div>
    </div>
</li>