<li class="nav-item active">
    <a class="nav-link " href="" data-toggle="collapse" data-target="#collapsePagesLab" aria-expanded="false"
        aria-controls="collapsePages">
        <i class="fas fa-flask"></i>
        <span>Lab Tests</span></a>
    </a>
    <div id="collapsePagesLab" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
            <a class="collapse-item" href="{% url 'add_lab_tests' %}">Add Report Name</a>
            <a class="collapse-item" href="{% url 'lab_tests_list' %}">Report Name List</a>
            <a class="collapse-item" href="{% url 'lab_report_list' %}">Lab Report List</a>
            <a class="collapse-item" href="{% url 'add_lab' %}">Diagnostic Test</a>
        </div>
    </div>
</li>