<li class="nav-item active">
    <a class="nav-link collapsed" href="" data-toggle="collapse" data-target="#collapsePagesPatient"
        aria-expanded="true" aria-controls="collapsePages">
         <i class="fas fa-wheelchair"></i>
        <span>Patient</span></a>
    </a>
    <div id="collapsePagesPatient" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
            <a class="collapse-item" href="{% url 'add_patient' %}">Add Patient</a>
            <a class="collapse-item" href="{% url 'patient_list' %}">Patient List</a>
            <a class="collapse-item" href="">Due List</a>
        </div>
    </div>
</li>