<li class="nav-item active">
    <a class="nav-link " href="" data-toggle="collapse" data-target="#collapsePagesReport" aria-expanded="false"
        aria-controls="collapsePages">
        <i class="fas fa-bug"></i>
        <span>Report</span></a>
    </a>
    <div id="collapsePagesReport" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
            {% comment %} <a class="collapse-item" href="login.html">Today's Report</a> {% endcomment %}
            <a class="collapse-item" href="{% url 'financial_report' %}">Financial Report</a>
            {% comment %} <a class="collapse-item" href="{% url 'medical_report' %}">Medicical Report</a> {% endcomment %}
            {% comment %} <a class="collapse-item" href="{% url 'daily_expense' %}">Daily Expense</a>
            <a class="collapse-item" href="{% url 'monthly_expense' %}">Monthly Expense</a> {% endcomment %}
            {% comment %} <a class="collapse-item" href="login.html">Income Vs Expense</a> {% endcomment %}
        </div>
    </div>
</li>