<!DOCTYPE html>
<html lang="en">
{% load static %} 
{% load cache %}
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta
    name="viewport"
    content="width=device-width, initial-scale=1, shrink-to-fit=no"
  />
  <!-- SEO Meta Tags Start -->
  <meta name="author" content="Hossain Chisty(Backend Developer)" />
  <meta property="og:title" content="Pharmacare-Pharmacy-Management" />
  <meta
    name="description"
    content="The pharmacy management software ensures a well-organized functioning, modern invoicing system, revenue management, inventory track mechanism, and boosting up your business."
  />
  <meta
    name="keywords"
    content="accounts, customers, products, orders, invoices, expense, purchase, report, return, damage, sales, service, stock, suppliers"
  />
  <link rel="canonical" href="" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="" />
  <meta property="og:site_name" content="Pharmacare pharmacy management software" />
  <!-- SEO Meta Tags End -->

  <!-- Favicon Icon Start -->
  <link
    rel="shortcut icon"
    type="image/x-icon"
    href="{% static 'img/favicon.png' %}"
  />
  <!-- Favicon Icon End -->

  <!-- Title -->
  <title>
    {% block title %} Dashboard {% endblock title %}- Diagnostic 🏥
  </title>

  <!-- Fontawesome CDN -->
  <link
    href="{% static 'vendor/fontawesome-free/css/all.min.css' %}"
    rel="stylesheet"
    type="text/css"
  />
  <!-- Google Font CDN -->
  <link
    href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
    rel="stylesheet"
  />

  <!-- Tailwind CDN -->
  <link
    href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css"
    rel="stylesheet"
  />

  {% comment %} Using Select2 from a CDN {% endcomment %}

  <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />


  <!-- React CDN -->
  <script
    src="https://unpkg.com/react@17/umd/react.development.js"
    crossorigin
  ></script>
  <script
    src="https://unpkg.com/react-dom@17/umd/react-dom.development.js"
    crossorigin
  ></script>
  <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.min.js"></script>

  <!-- CSS Files Start -->
  <link href="{% static 'css/sb-admin-2.min.css' %}" rel="stylesheet" />
  <link href="{% static 'css/asteriskStyle.css' %}" rel="stylesheet" />
  <!-- CSS Files End -->
</head>
  <body id="page-top">
    <!-- Page Wrapper -->
    <div id="wrapper">
      <!-- Sidebar -->
      <ul
        class="navbar-nav bg-green-400 bg-opacity-79 sidebar sidebar-dark accordion"
        id="accordionSidebar"
      >
        <!-- Sidebar - Brand -->
        <a
          class="sidebar-brand d-flex align-items-center justify-content-center"
          href="{% url 'dashboard' %}"
        >
          <div class="sidebar-brand-icon">
            <img
                        class="w-20 h-10"
                        src="{{ request.user.hospitial_logo.url }}"
                      />
          </div>
          <div class="sidebar-brand-text mx-3 font-weight-bolder text-monospace">{{ request.user.title }}<sup></sup></div>
        </a>

        <!-- Divider -->
        <hr class="sidebar-divider my-0" />

        <!-- Nav Item - Dashboard -->
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'dashboard' %}">
            <i class="fas fa-home"></i>
            <span>Dashboard</span></a
          >
        </li>

        <!-- Lab Test menus start -->
        {% include 'core/sidemenus/lab_side_menus.html' %}
        <!-- Lab Test menus end -->

        <!-- Depertment menus start -->
        {% include 'core/sidemenus/department_side_menus.html' %}
        <!-- Depertment menus end -->

        <!-- Doctor menus start -->
        {% include 'core/sidemenus/doctor_side_menus.html' %}
        <!-- Doctor menus end -->

        <!-- Patient menus start -->
        {% include 'core/sidemenus/patient_side_menus.html' %}
        <!-- Patient menus end -->

         <!-- Schedule menus start -->
        {% include 'core/sidemenus/schedule_side_menus.html' %}
        <!-- Schedule menus end -->       
        
        <!-- Appointment menus start -->
        {% include 'core/sidemenus/appointment_side_menus.html' %}
        <!-- Appointment menus end -->        

        {% comment %} <!-- HR menus start -->
        {% include 'core/sidemenus/hr_side_menus.html' %}
        <!-- HR menus end --> {% endcomment %}

        <!-- Financial menus start -->
        {% include 'core/sidemenus/financial_side_menus.html' %}
        <!-- Financial menus end -->

        <!-- Report menus start -->
        {% include 'core/sidemenus/report_side_menus.html' %}
        <!-- Report menus end -->

        <!-- Settings menus start -->
        {% include 'core/sidemenus/setting_side_menus.html' %}
        <!-- Settings menus end -->

        <!-- Divider -->
        <hr class="sidebar-divider" />

        <!-- Sidebar Toggler (Sidebar) -->
        <div class="text-center d-none d-md-inline">
          <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>
      </ul>
      <!-- End of Sidebar -->

      <!-- Content Wrapper -->
      <div id="content-wrapper" class="d-flex flex-column">
        <!-- Main Content -->
        <div id="content">
          <!-- Topbar -->
          <nav
            class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top"
          >
            <!-- Sidebar Toggle (Topbar) -->
            <button
              id="sidebarToggleTop"
              class="btn btn-link d-md-none rounded-circle mr-3"
            >
              <i class="fa fa-bars"></i>
            </button>

            <!-- Topbar Navbar -->
            <ul class="navbar-nav ml-auto">
              <!-- Nav Item - Alerts -->
              {% include 'core/nav_alert.html' %}
              <!-- Nav Item - Alerts -->

              <div class="topbar-divider d-none d-sm-block"></div>

              <!-- Nav Item - User Information -->
              <li class="nav-item dropdown no-arrow">
               
                <a
                  class="nav-link dropdown-toggle"
                  href="#"
                  id="userDropdown"
                  role="button"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                >
                  <span class="mr-2 d-none d-lg-inline text-gray-600 small">
                    {{ request.user.title }}
                  </span>
                   {% if request.user.hospitial_logo  %}
                    <img
                        class="img-profile rounded-circle"
                        src="{{ request.user.hospitial_logo.url }}"
                      />
                  {% else %}
                    <img class="img-profile rounded-circle" src="https://img.freepik.com/free-vector/hospital-logo-design-vector-medical-cross_53876-136743.jpg?w=2000">
                  {% endif %}
                </a>
                <!-- Dropdown - User Information -->
                <div
                  class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                  aria-labelledby="userDropdown"
                >
                  <a class="dropdown-item" href="">
                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                    Profile
                  </a>
                  <a class="dropdown-item" href="">
                    <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                    Settings
                  </a>
                  <div class="dropdown-divider"></div>
                  <a
                    class="dropdown-item"
                    href="{% url 'sign-out' %}"
                    data-toggle="modal"
                    data-target="#logoutModal"
                  >
                    <i
                      class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"
                    ></i>
                    Logout
                  </a>
                </div>
              </li>
            </ul>
          </nav>
          <!-- End of Topbar -->

          {% block body %} {% endblock body %}
        </div>
        <!-- End of Main Content -->
      </div>
      <!-- End of Content Wrapper -->
    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fas fa-angle-up"></i>
    </a>


    <!-- Logout Modal-->
    <div
      class="modal fade"
      id="logoutModal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
            <button
              class="close"
              type="button"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">
            Select "Logout" below if you are ready to end your current session.
          </div>
          <div class="modal-footer">
            <button
              class="btn btn-secondary"
              type="button"
              data-dismiss="modal"
            >
              Cancel
            </button>
            <a class="btn btn-primary" href="{% url 'sign-out' %}">Logout</a>
          </div>
        </div>
      </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Core plugin JavaScript-->
    <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

    <!-- Custom scripts for all pages-->
    <script src="{% static 'js/sb-admin-2.min.js' %}"></script>
    <script src="{% static 'js/notifications.js' %}"></script>

    <!-- Page level plugins -->
    <script src="{% static 'vendor/chart.js/Chart.min.js' %}"></script>

    <!-- Page level custom scripts -->
    <script src="{% static 'js/demo/chart-bar-demo.js' %}"></script>
    <script src="{% static 'js/demo/chart-area-demo.js' %}"></script>
  
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>


    <script>
      $(document).ready(function() {
          $('.js-example-basic-single').select2();
      });
    </script>

    {% block js %} {% endblock js %}

  
  </body>
</html>
