<li class="nav-item dropdown no-arrow mx-1">
    <a class="nav-link dropdown-toggle" href="{% url 'expired_medicine' %}">
        <i class="fas fa-bell fa-fw" title="Expired"></i>
        <!-- Counter - Alerts -->
        <span class="badge badge-danger badge-counter">3+</span>
    </a>    
</li>

<li class="nav-item dropdown no-arrow mx-1">
    <a class="nav-link dropdown-toggle" href="{% url 'stock_out_medicine' %}">
        <i class="fas fa-exclamation-triangle" title="Stock Out"></i>
        <!-- Counter - Messages -->
        <span class="badge badge-danger badge-counter">7</span>
    </a>
    
</li>