{% load appointment_tags %}
<li class="nav-item dropdown no-arrow mx-1">
    <a class="nav-link dropdown-toggle" href="{% url 'appointment_notifications' %}">
        <i class="fas fa-bell fa-fw" title="New Appointments"></i>
        <!-- Counter - Alerts -->

        <span class="badge badge-danger badge-counter" id="notification_counter">{{ unread_appointment }}</span>

    </a>    
</li>

<li class="nav-item dropdown no-arrow mx-1">
    <a class="nav-link dropdown-toggle" href="">
        <i class="fas fa-exclamation-triangle" title="Stock Out"></i>
        <!-- Counter - Messages -->
        <span class="badge badge-danger badge-counter">7</span>
    </a>
    
</li>